<% if flash[:message] %>
	<p><%= flash[:message] %></p>
<% end %>

<% if @user.admin %>
  ADMIN
<% end %>

  Name: <%= @user.name %></p>
  Tickets: <%= @user.tickets %></p>
  <% if !@user.admin%>
    Mood: <%= @user.mood %></p>
  <% end %>
  Height: <%= @user.height %> inches</p>

<p><%= link_to 'See attractions', attractions_path %></p>
